@(message: String, accountForm: Form[AccountModel])
@implicitFieldConstructor = {helper.FieldConstructor(twitterBootstrapInput.render)}

@main("Welcome to Play 2.0") {    
    <div class="navbar navbar-fixed-top">    
		<div class="navbar-inner">
		   <div class="container-fluid">
			<span class="brand">@message</span>
		   </div>
		</div>
    </div>

    <div class="container index">
		@helper.form(action = routes.Account.searchAccount(), 'class -> "well form-horizontal"){
		  @helper.inputText(accountForm("name"), '_label -> "Name: ")
		  <div class="controls">
			<input type="submit" class="btn btn-primary" />
		  </div>
	   	}
	    <div class="results">	
			<ul id="accounts" class="resultList"></ul>
    	</div>
    </div>
}
