@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.min.css")" />
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/index.min.js")" type="text/javascript"></script>
    </head>
    <body>
        @content
		<script src="@routes.Assets.at("bootstrap-affix.min.js")"></script>
		<script src="@routes.Assets.at("bootstrap-alert.min.js")"></script>
		<script src="@routes.Assets.at("bootstrap-button.min.js")"></script>
		<script src="@routes.Assets.at("bootstrap-carousel.min.js")"></script>
		<script src="@routes.Assets.at("bootstrap-collapse.min.js")"></script>
		<script src="@routes.Assets.at("bootstrap-dropdown.min.js")"></script>
		<script src="@routes.Assets.at("bootstrap-modal.min.js")"></script>
		<script src="@routes.Assets.at("bootstrap-popover.min.js")"></script>
		<script src="@routes.Assets.at("bootstrap-scrollspy.min.js")"></script>
		<script src="@routes.Assets.at("bootstrap-tab.min.js")"></script>
		<script src="@routes.Assets.at("bootstrap-tooltip.min.js")"></script>
		<script src="@routes.Assets.at("bootstrap-transition.min.js")"></script>
		<script src="@routes.Assets.at("bootstrap-typeahead.min.js")"></script>
    </body>
</html>
